body{
    background: url(dima\ phon.jpg) center no-repeat fixed; width:100%; overflow: hidden;
    background-color: #cccc99;
    margin:0;
}
.text{
    color:rgb(47, 32, 32);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: #cccc99;
    width:350px;
    height:200px;
    margin:0;
    padding:0;


}
.text2{
   
    background-color:#cccc99;
    margin-top:300px;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}